  /* Hide sirve para poder saber si aparece o desaparece la ventana en JS */
.hide {
  display: none;
}

body {
  background-image: url("https://image.freepik.com/vector-gratis/vector-ilustracion-fondo-verde-conexion-mundial_53876-61767.jpg");
  background-size: 85%;
  font-family: Verdana, Geneva, sans-serif; 
  color: #0B3020;
} 

textarea{
  resize: none;
  cursor: text; 
  border-radius: 6px;
  font-family: Verdana, Geneva, sans-serif; 
}

#logoCentrar {
  display:block;
  margin:auto;
  max-width: 100%;
  cursor: pointer;
}

.contenedor {
  width: 700px;
  margin: 20px auto;
  padding: 70px 50px;
  align-content: center;
  background-color: #ffffff; 
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 1px 2px 8px 2px rgba(17,174,107);
}

#contenedor2 {
  width: 940px;
  margin: 15px auto;
  padding: 35px 37px;
  align-content: center;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 1px 2px 8px 2px rgba(17,174,107);
}

.flex-container {
    display: flex;
    height: 40px;
    align-items: center;
  }
  
  .flex-container > div {
    width: 150px;
    margin: 1px;
    text-align: left;
    line-height: 25px;
  }

  .box-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .box-flex > div {
    width: 300px;
    margin: 2px;
    line-height: 150px;
    text-align: center;
  }

  .orderButtons{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .orderButtons > div {
    width: 1000px;
    line-height: 40px;
  }

  .botonPersonalizado {
    cursor: pointer;
    text-decoration: none;
    padding: 6px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #ffffff;
    background-color: #469391;
    border-radius: 5px;
    border: 2px solid #656565;
}

  .botonPersonalizado:hover {
    color: #469391;
    background-color: #ffffff;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border-radius: 5px;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1 {
    background-color: white; 
    color: #469391; 
    border: 2px solid #656565;
  }
  
  .button1:hover {
    background-color: #469391;
    color: white;
  }

  .btn {
    cursor: pointer;
    text-decoration: none;
    padding: 6px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #ffffff;
    background-color: #469391;
    border-radius: 5px;
    border: 2px solid #656565; 
   }

  .btn:hover {
    color: #469391;
    background-color: #ffffff;
  }

  .flex-buttons {
    display: flex;
    flex-wrap: nowrap;
  }

  .flex-buttons > div {
    width: 69px;
    margin: 5px;
    text-align: center;
    line-height: 25px;
  }
